<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SERVICOS DE JULIANA</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="servico-juliana"></div>
    <div class="lateral-home"></div>
    <img class="logo-home" src="/static/images/logo.png" alt="logo-home" />
    <a href="/esmalteria" class="voltar1">Voltar</a>
    <div class="anuncio-1j"></div>

    <a href="/m2agendamento">
      <button type="submit" class="btn1-ju"></button>
      <button type="submit" class="btn1-j"></button>
      <p class="txt1-ju1">Pé feminino</p>
      <p class="txt2-ju1">Duração: 1hora</p>
      <p class="txt3-ju1">R$ 30,00</p>
    </a>

    <a href="/m2agendamento">
      <button type="submit" class="btn2-ju"></button>
      <button type="submit" class="btn2-j"></button>
      <p class="txt1-ju2">Mão fem./mas.</p>
      <p class="txt2-ju2">Duração: 1hora</p>
      <p class="txt3-ju2">R$ 25,00</p>
    </a>

    <a href="m4agendamento">
      <button type="submit" class="btn3-ju"></button>
      <button type="submit" class="btn3-j"></button>
      <p class="txt1-ju3">Mão e Pé</p>
      <p class="txt2-ju3">Duração: 2hora</p>
      <p class="txt3-ju3">R$ 50,00</p>
    </a>

    <a href="/m3agendamento">
      <button type="submit" class="btn4-ju"></button>
      <button type="submit" class="btn4-j"></button>
      <p class="txt1-ju4">Mão + Secagem na cabine</p>
      <p class="txt2-ju4">Duração: 1h30</p>
      <p class="txt3-ju4">R$ 30,00</p>
    </a>

    <a href="/m1agendamento">
      <button type="submit" class="btn5-ju"></button>
      <button type="submit" class="btn5-j"></button>
      <p class="txt1-ju5">Esmaltação simples - mão</p>
      <p class="txt2-ju5">Duração: 30 min</p>
      <p class="txt3-ju5">R$ 15,00</p>
    </a>

    <a href="/m1agendamento">
      <button type="submit" class="btn6-ju"></button>
      <button type="submit" class="btn6-j"></button>
      <p class="txt1-ju6">Unhas Postiça</p>
      <p class="txt2-ju6">Duração: 30 min</p>
      <p class="txt3-ju6">R$ 45,00</p>
    </a>

    <a href="/m1agendamento">
      <button type="submit" class="btn7-ju"></button>
      <button type="submit" class="btn7-j"></button>
      <p class="txt1-ju7">SPA das mãos</p>
      <p class="txt2-ju7">Duração: 30 min</p>
      <p class="txt3-ju7">R$ 40,00</p>
    </a>

    <a href="/m1agendamento">
      <button type="submit" class="btn8-ju"></button>
      <button type="submit" class="btn8-j"></button>
      <p class="txt1-ju8">Esmaltação simples - Pé</p>
      <p class="txt2-ju8">Duração: 30 min</p>
      <p class="txt3-ju8">R$ 15,00</p>
    </a>

    <a href="m4agendamento">
      <button type="submit" class="btn9-ju"></button>
      <button type="submit" class="btn9-j"></button>
      <p class="txt1-ju9">Mão e Pé masculino</p>
      <p class="txt2-ju9">Duração: 2hora</p>
      <p class="txt3-ju9">R$ 55,00</p>
    </a>

    <a href="/m3agendamento">
      <button type="submit" class="btn10-ju"></button>
      <button type="submit" class="btn10-j"></button>
      <p class="txt1-ju10">Plastica dos Pés</p>
      <p class="txt2-ju10">Duração: 1h30</p>
      <p class="txt3-ju10">R$ 30,00</p>
    </a>

    <a href="m4agendamento">
      <button type="submit" class="btn11-ju"></button>
      <button type="submit" class="btn11-j"></button>
      <p class="txt1-ju11">SPA dos Pés</p>
      <p class="txt2-ju11">Duração: 2hora</p>
      <p class="txt3-ju11">R$ 50,00</p>
    </a>

    <a href="/m1agendamento">
      <button type="submit" class="btn12-ju"></button>
      <button type="submit" class="btn12-j"></button>
      <p class="txt1-ju12">Corte de unha simples</p>
      <p class="txt2-ju12">Duração: 30 min</p>
      <p class="txt3-ju12">R$ 30,00</p>
    </a>

    <a href="/m1agendamento">
      <button type="submit" class="btn13-ju"></button>
      <button type="submit" class="btn13-j"></button>
      <p class="txt1-ju13">Esmaltação + Hidratação pé</p>
      <p class="txt2-ju13">Duração: 30 min</p>
      <p class="txt3-ju13">R$ 40,00</p>
    </a>

    <a href="/m1agendamento">
      <button type="submit" class="btn14-ju"></button>
      <button type="submit" class="btn14-j"></button>
      <p class="txt1-ju14">Esmaltação infantil</p>
      <p class="txt2-ju14">Duração: 30 min</p>
      <p class="txt3-ju14">R$ 40,00</p>
    </a>

    <a href="/m5agendamento">
      <button type="submit" class="btn15-ju"></button>
      <button type="submit" class="btn15-j"></button>
      <p class="txt1-ju15">Banho em gel</p>
      <p class="txt2-ju15">Duração: 5hora</p>
      <p class="txt3-ju15">R$ 40,00</p>
    </a>

    <a href="/m1agendamento">
      <button type="submit" class="btn16-ju"></button>
      <button type="submit" class="btn16-j"></button>
      <p class="txt1-ju16">Esmaltação em gel s/cutilagem</p>
      <p class="txt2-ju16">Duração: 30 min</p>
      <p class="txt3-ju16">R$ 30,00</p>
    </a>

    <a href="/m3agendamento">
      <button type="submit" class="btn17-ju"></button>
      <button type="submit" class="btn17-j"></button>
      <p class="txt1-ju17">Esmaltação em gel c/cutilagem</p>
      <p class="txt2-ju17">Duração: 1h30</p>
      <p class="txt3-ju17">R$ 50,00</p>
    </a>

    <a href="/m2agendamento">
      <button type="submit" class="btn18-ju"></button>
      <button type="submit" class="btn18-j"></button>
      <p class="txt1-ju18">Pé masculino</p>
      <p class="txt2-ju18">Duração: 1hora</p>
      <p class="txt3-ju18">R$ 35,00</p>
    </a>

    <a href="/m1agendamento">
      <button type="submit" class="btn19-ju"></button>
      <button type="submit" class="btn19-j"></button>
      <p class="txt1-ju19">Hidratação dos Pés</p>
      <p class="txt2-ju19">Duração: 30 min</p>
      <p class="txt3-ju19">R$ 30,00</p>
    </a>

    <button class="barradir-ju"></button>
    <p class="adicinais-ju">SERVIÇOS ADICIONAIS</p>
    <p class="traco">____________________</p>
    <p class="txt-adicinais-ju">
      - Francesinha R$ 3,00<br />- Motor de massagem R$ 15,00
    </p>



    <div class="container mt-5">
      <!-- Carrossel -->
      <div id="promoCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='images/banner1.jpg') }}" class="d-block w-100" alt="Promoção 1">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>50% OFF em todos os produtos!</h5>
                      <p>Não perca a nossa super promoção deste fim de semana.</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/banner2.jpg') }}" class="d-block w-100" alt="Promoção 2">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>Descontos exclusivos para novos clientes</h5>
                      <p>Ganhe descontos ainda maiores ao se cadastrar.</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/banner3.jpg') }}" class="d-block w-100" alt="Promoção 3">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>Compre 1, leve 2!</h5>
                      <p>Promoção imperdível para você levar mais produtos por menos.</p>
                  </div>
              </div>
          </div>
  
          <!-- Botões de navegação -->
          <button class="carousel-control-prev" type="button" data-bs-target="#promoCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#promoCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
          </button>
      </div>
  </div>
  
  <!-- Script do Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  


  </body>
</html>
