<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SERVICOS DE AMANDA</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="servico-amanda"></div>
    <div class="lateral-home"></div>
    <img class="logo-home" src="/static/images/logo.png" alt="logo-home" />
    <a href="/esmalteria" class="voltar1">Voltar</a>
    <div class="anuncio-1">
      <a href="/agendar">
        <button type="submit" class="btn1-am"></button>
        <button type="submit" class="btn1-a"></button>
        <p class="txt1-am1">Serviço</p>
        <p class="txt2-am1">R$ 35,50</p>
      </a>

      <a href="">
        <button type="submit" class="btn2-am"></button>
        <button type="submit" class="btn2-a"></button>
      </a>

      <a href="">
        <button type="submit" class="btn3-am"></button>
        <button type="submit" class="btn3-a"></button>
      </a>

      <a href="">
        <button type="submit" class="btn4-am"></button>
        <button type="submit" class="btn4-a"></button>
      </a>

      <a href="">
        <button type="submit" class="btn5-am"></button>
        <button type="submit" class="btn5-a"></button>
      </a>

      <a href="">
        <button type="submit" class="btn6-am"></button>
        <button type="submit" class="btn6-a"></button>
      </a>
    </div>
  </body>
</html>
